[Desktop Entry]
Name=Autostart EWW widgets
Exec=bash -c "$HOME/.local/bin/eww open bar"
Icon=/home/pi/pi-apps/icons/logo.png
Terminal=false
StartupWMClass=eww
Type=Application
X-GNOME-Autostart-enabled=true
Hidden=false
NoDisplay=false
